{% extends "layout.html" %}

{% block title %}
    Edit Todo
{% endblock %}

{% block main %}
    <form action="/edit" method="post">
    {% for todos in todo %}
      <h3>Editing "{{ todos.todo }}" to</h3>
      <input required name="todo-info" id="todo-info" type="text" autocomplete="off"/>
      <button class="btn btn-primary" type="submit">
        <!-- <a href="/onedit/{{ todo.id }}" style="
        text-decoration:None;
        color: white"> -->
        Edit Todo
    <!-- </a> -->
    </button>
    </form>
    {% endfor %}
{% endblock %}