{% extends "layout.html" %}

{% block title %}
    Home
{% endblock %}

{% block main %}
    <h3>Your todos</h3>
    {% for todo in todo_list %}
    <div style="
    display: flex;
    align-items: center;
    justify-content: center">
        <table class="table table-striped">
            <thead>
                <tr>
                    <th scope="col">SN</th>
                    <th scope="col">Todo</th>
                    <th scope="col">Edit?</th>
                </tr>
            </thead>
            <tbody>
                <td>{{ todo.id }} </td>
                <td>{{ todo.todo }}</td>
                <td>
                    <!-- <input name="submit_button" class="btn btn-info" type="submit" value="Update" \>
                    <input name="submit_button" class="btn btn-success" type="submit" value="Done" \> -->
                    <button class="btn btn-info"><a href="/edit/{{ todo.id }}" style="
                    text-decoration:None;
                    color: white
                    ">Edit</a></button>
                    <button class="btn btn-success"><a href="/done/{{ todo.id }}" style="
                        text-decoration:None;
                        color: white">Done</a></button>
                </td>
            </tbody>
        </table>
    </div>
    {% endfor %}
{% endblock %}