{% extends "layout.html" %}

{% block title %}
    Home
{% endblock %}

{% block main %}
    <h3>Your todos</h3>
    {% for todo in todo_list %}
    <div style="
    display: flex;
    align-items: center;
    justify-content: center">
        <table class="table table-striped">
            <tbody>
                <td>{{ todo.id }} </td>
                <td>{{ todo.todo }}</td>
                <td><button class="btn btn-info">Update</button><button class="btn btn-success">Done</button></td>


            </tbody>
        </table>
    </div>
    {% endfor %}
{% endblock %}