*{
    font-family: sans-serif;
}

main{
    text-align: center;
    padding-top: 50px;
}

body{
    background-color: white;
    color: black;
    font-size: 15px;
}

/* .noDecor{
    text-decoration: None;
} */

.top-bar{
    background-color: $gray-900;
    color: white;
}

a{
    color: #000000;
    text-decoration: none;
}

a:hover{
    color: #0000ff;
    text-decoration: underline;
}

#content{
    padding-bottom: 50px;
    padding-top: 50px;
}

img{
    max-widht: 100%;
    height: auto;
}