*{
    font-family: sans-serif;
}

main{
    text-align: center;
    padding-top: 50px;
}

/* .noDecor{
    text-decoration: None;
} */

a{
    color: #000000;
    text-decoration: none;
}

a:hover{
    color: #0000ff;
    text-decoration: underline;
}

#content{
    padding-bottom: 50px;
    padding-top: 50px;
}