*{
    font-family: sans-serif;
}

main{
    text-align: center;
    padding: 5;
}

/* .noDecor{
    text-decoration: None;
} */

a{
    color: #000000;
    text-decoration: none;
}

a:hover{
    color: #0000ff;
    text-decoration: underline;
}