{% extends "layout.html" %}

{% block title %}
    Home
{% endblock %}

{% block main %}
    <table class="table table-striped">
        <thead>
            <tr>
                <th scope="col">Symbol</th>
                <th scope="col">Shares</th>
                <th scope="col">Current Price</th>
                <th scope="col">Total Value</th>
            </tr>
        </thead>
        <tbody>
            {% for symbol, value in share_owned.items()}
            <tr>
                <th scope="row"> {{ symbol }} </th>
                <td> {{ value[0] }}</td>
                <td> {{ value[1] }}</td>
                <td> {{ value[2] }}</td>
                <td> {{ value[3] }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>

{% endblock %}