{% extends "layout.html" %}

{% block title %}
    Sell Stocks
{% endblock %}

{% block main %}
    <form action="/sell" method="post">
        <select name="symbol" class="dropdown">
            <option disabled selected>Available Stocks</option>
            {% for symbols in stocks_owned["symbol"] %}
            <option value="{{ symbol }}">{{ symbol }}</option>
            {% endfor %}
        </select>

        <input autocomplete="off" autofocus class="form-control mx-auto w-auto" id="shares" name="shares" placeholder="Number of Shares" type="text">
    </form>
{% endblock %}